div.contenedor{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
header,nav,section,article,footer{
    border-radius: 10px;
    padding: 15px;
    border: solid 2px black ;
    margin-top: 10px;
    /*ojo agregado para estandizar las referencias de las cajas*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    height: 60px;
    width: 100%;
    float: center;
    background-color: rgba(220, 20, 113, 0.466);
    overflow: hidden;
}
nav{
    width: 36%;
    float: left;
    background-color: rgba(87, 9, 143, 0.322);
    margin-left: 10px;
}
section{
    /*height: 500px*/
    width: 62%;
    float: right; 
    background-color: rgba(245, 3, 124, 0.397);
    overflow: hidden;
}
footer{
    height: 40%;
    width: 100%;
    float: left;
    background-color: rgba(36, 3, 78, 0.753);
    overflow: hidden; 
}
header,footer,article{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
article{
    /*height: 30%;*/
    width: 90%;
    float: center;
    background-color: initial;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
body>{
    line-height: 1;
    /*background-color:white;*/
    /*color: #333;*/
    
    font: 16px/28px Georgia,"times new roman",times, serif;

    /*tomado de: https://leaverou.me/demos/css3-patters.html*/
    background-color: #333;/*change this to change both stibe colors*/

    background-image: -webkit-gradient(linear,0 100%, 100% 0,
    color-stop( .25,rgba(255,255,255,.2)), color-stop( .25,transparent),
    color-stop( .5, transparent), color-stop(.5,(255,255,255,.2)),
    color-stop(.75,rgba(255,255,255,.2)),color-stop(.75, transparent),
    to(transparent));/*old webkit syntax*/ 
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,.2)25%, transparent 25%,
  transparent 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.2)75%
  transparent 75%, transparent); /*new webkit syntax*/
  background-image: -moz-linear-gradient(45deg, rgba(255,255,255,.2)25%, transparent 25%,
  transparent 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.2)75%
  transparent 75%, transparent); /*firefox*/
  background-image: -o-linear-gradient(45deg, rgba(255,255,255,.2)25%, transparent 25%,
  transparent 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.2)75%
  transparent 75%, transparent); /*opera*/
  background-image: linear-gradient(45deg, rgba(255,255,255,.2)25%, transparent 25%,
  transparent 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.2)75%
  transparent 75%, transparent); /*wc3*/
  background-size:16px 16px;
}
/*headings*/
h1,h2{
    font-family: 'droid serif', 'sans-serif';
    text-shadow: 0 2px 0 #fff;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 26px;
}
/*headings*/
h1, h2{
    font-family: 'Droid serif', sans-serif;
}
h1{
    font-size: 32px;
    text-shadow: 0 2px 0 #fff;
}
h2{
    font-size: 26px;
}
header h1{
    font-size: 40px;
}
div.contenedor{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    overflow: hidden;
    
    background: rgba(204,204,204, .4);
    border-radius: 5px 5px 10px 10px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,.2),0px 0px 15px rgba(204,204,204 0.5);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,.2),0px 0px 15px rgba(204,204,204 0.5);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,.2),0px 0px 15px rgba(204,204,204 0.5);
}
nav{
    width: 27%;
    float: left;
    background-color: #fff0aa;
    margin-left: 5%;
}
header img{
    float:right;
    height: 100%;
    margin-right: 10%;
}

